@import "tailwindcss";

:root {
  --background: #ffc300;
  --foreground: #003566;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffc300;
    --foreground: #003566;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.camera-bg-blur {
  filter: blur(8px) brightness(0.6); /* Adjust blur/brightness here */
  pointer-events: none;             /* Ensures you can click text/buttons over it */
  position: fixed;
  z-index: -1;                      /* Pushes it behind everything else */
}